body {
	font-family: Helvetica;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
        color: #303030;
        background-color: white;      
}


a:link {color: #303030; text-decoration: none;}
a:visited {color: #303030; text-decoration: none;}
a:hover {color: hotpink; text-decoration: none;}
a:active {color: #303030; text-decoration: none;}


.main {
        font-size: 450%;
        font-weight: 100;
	letter-spacing: 0.05em;
}

.grid {
  display: grid;
  position: relative;
  grid-template-areas: "nav nav nav nav nav"
		       "header header header header header"
		       "row2 row2 row2 row2 row2"
 		       "row1 row1 row1 row1 row1"                      
                       "footer footer footer footer footer";
  grid-template-columns: 1fr 1fr minmax(100px, 500px) 1fr minmax(100px, 500px) 1fr minmax(100px, 500px) 1fr;
  grid-template-rows: 75px 275px 300px 300px 70px;	
  grid-gap: 5px;
}

header {
  grid-area: header;
  background-color: white;
  color: #303030;
  /* background-color: rgb(153, 217, 234); */
} 

nav {
  grid-area: nav;
  padding: 2em;
} 

.row3 {
  grid-area: row3;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

.row2 {
  grid-area: row2;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

.row1 {
  grid-area: row1;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

footer {
  grid-area: footer;
  font-size: 75%;
  background-color: white;
  color: #303030; 
} 


.box {
  background-color: aliceblue;
  color: #303030;
  border: 2px #303030 solid;
}


p {font-size: 80%;}


nav a:link {color: #303030; text-decoration: none;}
nav a:visited {color: #303030; text-decoration: none;}
nav a:hover {color: hotpink; text-decoration: none;}
nav a:active {color: #303030; text-decoration: none;}

a:link #footerlink {color: aliceblue; text-decoration: none;}
a:visited #footerlink {color: aliceblue; text-decoration: none;}
a:hover #footerlink {color: hotpink; text-decoration: none;}
a:active #footerlink {color: aliceblue; text-decoration: none;}
