body {
	font-family: Helvetica;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
        color: #303030;
        background-color: #303030;      
}


a:link {color: #303030; text-decoration: none;}
a:visited {color: #303030; text-decoration: none;}
a:hover {color: hotpink; text-decoration: none;}
a:active {color: #303030; text-decoration: none;}


.main {
        font-size: 450%;
        font-weight: 100;
	letter-spacing: 0.05em;
}

.grid {
  display: grid;
  position: relative;
  grid-template-areas: "header header header"
                       "nav blog04 blog04"
                       "nav blog03 blog03"
		       "nav blog02 blog02"
	  	       "nav blog01 blog01"
                       "footer footer footer";
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 300px 1fr 1fr 1fr 1fr 70px;	
  grid-gap: 5px;
}

header {
  grid-area: header;
  border: 2px #303030 solid;
  border-radius: 5px;
  padding: 2em;
} 

nav {
  grid-area: nav;
  border: 2px #303030 solid;
  border-radius: 5px;
  padding: 2em;
} 

.blog01 {
  grid-area: blog01;
  border: 2px #303030 solid;
  border-radius: 5px;
  padding: 2em;
  
} 

.blog02 {
  grid-area: blog02;
  border: 2px #303030 solid;
  border-radius: 5px;
  padding: 2em;
}

.blog03 {
  grid-area: blog03;
  border: 2px #303030 solid;
  border-radius: 5px;
  padding: 2em;
}

.blog04 {
  grid-area: blog04;
  border: 2px #303030 solid;
  border-radius: 5px;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(1fr 2fr);
  grid-gap: 0.5em;
}

.nestedimage {
  border: 2px solid aliceblue;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  grid-column: 1;
  grid-row: 1;
}

.nestedtext {
  border: 2px solid aliceblue;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  grid-column: 2;
  grid-row: 1;
}

footer {
  grid-area: footer;
} 


.box {
  background-color: aliceblue;
  color: #303030;
  border: 2px #303030 solid;
}

/*
.header {
	color: aliceblue; 
	height:300px; 
        background-color: #303030;
	background-size:700px 200px;
}
*/


.footer {
	color: aliceblue; 
	height:75px; 
	background-color: #303030; 
	font-size: 75%;
}


p {font-size: 80%;}


nav a:link {color: #303030; text-decoration: none;}
nav a:visited {color: #303030; text-decoration: none;}
nav a:hover {color: hotpink; text-decoration: none;}
nav a:active {color: #303030; text-decoration: none;}

a:link #footerlink {color: aliceblue; text-decoration: none;}
a:visited #footerlink {color: aliceblue; text-decoration: none;}
a:hover #footerlink {color: hotpink; text-decoration: none;}
a:active #footerlink {color: aliceblue; text-decoration: none;}
